<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @{
        var bundleOption = (BundleOptions)ViewBag.BundleOption;
    }

    @Html.RenderCssBundle("~/Content/app.css.bundle", bundleOption)

    @Html.RenderJsBundle("~/Scripts/dist.js.bundle", bundleOption)
    @Html.RenderJsBundle("~/Scripts/app.js.bundle", bundleOption)
</head>
<body>
    @{
        Html.RenderPartial("_NavBar");
    }

    <div class="container body-content">
        @RenderBody()

        @{
            Html.RenderPartial("_Footer");
        }
    </div>

</body>
</html>
