<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    @*
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    *@
    <li>@Html.ActionLink("Products (standard CRUD)", "Index", "Products")</li>
    <li>@Html.ActionLink("Products (custom views folder - ShopTemplates)", "Index", "ProductsServiceStackBundled")</li>
</ul>